# Google Drive icons
*.ini

# Vscode
# .vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# env variables
.env

# Local models
/local_models

# local logs
scores.local.csv

# code carbon
codecarbon